body{
  background-color: aquamarine;
}

.head{
  font-size: 40px;
  color: rgb(4, 4, 93);
}

.App {
  text-align: center;
  padding: 20px;
}

form {
  margin-bottom: 20px;
}

input {
  margin: 0 5px;
  padding: 5px;
  border: 2px solid black;
}

button {
  margin: 0 5px;
  padding: 5px;
  border: 2px solid black;
}

.list{
  list-style-type: none;
}


.add{
  border: 3px solid rgb(2, 70, 2);
  background-color: green;
  color: white;
  font-size: 14px;
  font-weight: 900;
}

.delete{
  width: 100px;
  border: 3px solid rgb(225, 9, 9);
  background-color: red;
  color: white;
  font-size: 14px;
  font-weight: 900;
}

.mark{
 margin-right: 10px;
}

.data{
  min-height: 70vh;
  padding-top: 30px;
  background-color: antiquewhite;
  border: 5px solid green;
}

.todos{
  width: 96.5%;
  height: 50px;
  border: 2px solid orange;
  background-color: rgb(232, 212, 174);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  
}

.taskname{
  font-size: 20px;
  color: rgb(68, 9, 116);
}

.todosdata{
  margin-top: 50px;
}

.inputtask{
  width: 200px;
  height: 30px;
}

.inputdesc{
  width: 500px;
  height: 30px;
}

.notask{
  font-size: 35px;
  font-weight: 900;
  color: rgb(70, 8, 241);
}